:root {
  --primary-color: #425184;
  --secondary-color: #d579af;
  --color_texto_menu: #425184;
  --fuente-principal: "poppins", sans-serif;
  --color_fondo: white ;
}

body {
  background-color: var(--primary-color);
}

/* HEADER ESTÁTICO Y PEQUEÑO */
header {
  top: 0;
  background-color: var(--color_fondo);
  box-shadow: 0 px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  
}
/* Logo */
.logo img {
  height: 70px;
}

/* Navegación */
.navegacion a {
  text-decoration: none;
  color: var(--color_texto_menu);
  font-family: var(--fuente-principal);
  width: 200px;         /* el tamaño  */
  margin: 0 auto;       /* centrado horizontal */
  text-align: center;     /* para que los <li> estén alineados a la izquierda */
  list-style: none;
  
}
ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.navegacion {
  
  
  padding: 0;
  margin: 0 auto;
  display: flex;         /* Flexbox para alinear en fila */
         

}
/* Iconos */
.iconos {
  height: 30px;
  float: right;
  gap: 20px;
  margin: 30px;
  
}
@media (max-width: 768px) {
  #logo-header {
    flex-direction: column;
    align-items: center;
    display: none; /* Ocultar en desktop si solo es para móvil */
  }
}